asgiref
beautifulsoup4
black
blinker
bs4
certifi
charset-normalizer
click
contourpy
cycler
distlib
Django
django-crispy-forms
et_xmlfile
filelock
Flask
fonttools
idna
isort
itsdangerous
Jinja2
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mypy_extensions
numpy
openpyxl
packaging
pandas
pathspec
Pillow
platformdirs
Pygments
pyparsing
python-dateutil
pytz
requests
rich
ruff
seaborn
six
soccerdata
soupsieve
sqlparse
tomli
typing_extensions
tzdata
urllib3
Werkzeug
